@import url(https://fonts.googleapis.com/css?family=Montserrat:900|Raleway:400,400i,600,600i);

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #c9dff6;
    font-family: "Raleway", sans-serif;
}

.paper {
    max-width: 800px;
    min-height: 297mm;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20mm;
    margin: 10mm auto;
    box-sizing: border-box;
}

.header h1 {
    font-size: 28px;
}

.header p {
    font-size: 16px;
}

.section h2 {
    color: #0056b3;
}

.container2 {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Dla odstępu od poprzednich sekcji */
}

.left, .right {
    flex: 1;
}

.full-width {
    flex-basis: 100%;
}

.profile-img {
    width: 150px;
    height: 200px;
    margin-right: 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

}

.header {
    display: flex;
    align-items: center;
}

.section {
    margin-top: 20px;
}

a {
    color: black;
}

a:hover {
    color: orange;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 110px; /* Możesz dostosować szerokość do swoich potrzeb */
    height: 30px; /* Wysokość została dostosowana, aby pomieścić tekst i ikonę */
    padding: 10px;
    margin: 2px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* Usunięto niepotrzebne właściwości jak line-height i text-align */
}

.btn:hover {
    background-color: #0056b3; 
}

.button_section {
    display: flex;
    justify-content: center; /* Centruje przyciski w poziomie */
    flex-wrap: wrap; /* Pozwala na przechodzenie elementów do nowej linii, jeśli nie mieszczą się */
    gap: 10px; /* Odstęp między przyciskami */
    margin-top: 10px; /* Odstęp od poprzedzającego tekstu */
}

.kontakt_section {
    width: 100%; /* Ustaw szerokość na 100% */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    background-color: #f2f2f2; /* Wyróżnienie tła kontenera */
    padding: 20px; /* Odstępy wewnątrz kontenera */
    margin: auto; /* Automatyczne marginesy dla wyśrodkowania */
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Subtelny cień dla wyróżnienia */
    border-radius: 10px; /* Zaokrąglone rogi kontenera */
    text-align: center; /* Wyśrodkowanie tekstu w kontenerze */
}

.kontakt_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.kontakt_section p {
    margin-bottom: 10px; /* Odstępy między elementami */
}

.kontakt_section i {
    margin-right: 10px;
}

.about_section {
    width: 100%; /* Ustaw szerokość na 100% */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    background-color: #f2f2f2; /* Wyróżnienie tła kontenera */
    padding: 20px; /* Odstępy wewnątrz kontenera */
    margin: auto; /* Automatyczne marginesy dla wyśrodkowania */
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Subtelny cień dla wyróżnienia */
    border-radius: 10px; /* Zaokrąglone rogi kontenera */
    text-align: justify;
}

.about_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.exp_section, .edu_section {
    flex: 1; /* Każdy kontener zajmie połowę przestrzeni */
    margin: 0 10px; /* Marginesy z boków, można dostosować według potrzeb */
    padding: 20px; /* Odstępy wewnętrzne */
    background-color: #f2f2f2; /* kolor tła */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* cień dla efektu głębi */
    border-radius: 10px; /* zaokrąglone rogi */
    text-align: left;
}

.exp_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.edu_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.speak_section, .certyfikate_section {
    flex: 1; /* Każdy kontener zajmie połowę przestrzeni */
    margin: 0 10px; /* Marginesy z boków, można dostosować według potrzeb */
    padding: 20px; /* Odstępy wewnętrzne */
    background-color: #f2f2f2; /* kolor tła */
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* cień dla efektu głębi */
    border-radius: 10px; /* zaokrąglone rogi */
    text-align: left;
}

.speak-certyfikate {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Dla odstępu od poprzednich sekcji */
}

.speak_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.certyfikate_section h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.technology {
    width: 100%; /* Ustaw szerokość na 100% */
    max-width: 600px; /* Maksymalna szerokość kontenera */
    background-color: #f2f2f2; /* Wyróżnienie tła kontenera */
    padding: 20px; /* Odstępy wewnątrz kontenera */
    margin: auto; /* Automatyczne marginesy dla wyśrodkowania */
    margin-top: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3); /* Subtelny cień dla wyróżnienia */
    border-radius: 10px; /* Zaokrąglone rogi kontenera */
    text-align: justify;
}

.technology h2 {
    margin-bottom: 15px; /* Odstęp pod nagłówkiem */
    color: #0056b3; /* Kolor tekstu */
}

.technology li {
    list-style: none; /* Usuwa standardowe punktory */
    margin-bottom: 10px; /* Dodaje odstęp między elementami listy */
}

.technology li i {
    margin-right: 10px;
}
